/* 
----------INDEX----------
GENERAL-TAGS                        [LINE 22]
HEADER-CLASS                        [LINE 63]
FOOTER-CLASS                        [LINE 89]
BENEFIT-LEAD CLASS                  [LINE 97]
BENEFIT-BRAND CLASS                 [LINE 110]
SEARCH-ENGINE-OPTIMIZATION CLASS    [LINE 123]
ONLINE-REPUTATION-MANAGEMENT CLASS  [LINE 137]
SOCIAL-MEDIA-MARKETING CLASS        [LINE 152]
BENEFIT-COST CLASS                  [LINE 167]
MEETING-IMG CLASS                   [LINE 179]
FLOAT CLASSES                       [LINE 190]
CONTENT CLASS                       [LINE 202]
BENEFITS CLASS                      [LINE 210]
-----LINES CHANGED INDEX-----
moved all h1 content to one block   [LINE 34]
moved all h3 copies to one block    [LINE 50]
moved all h2 copies to one block    [LINE 56]
changed the class name from hero to meeting-img to better clarify what it is [LINE 180]
*/
/*GENERAL TAGS*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}


/* moved all h1 content to one block */
h1 {
    display: inline-block;
    font-size: 48px;
    color: #d9dcd6;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* moved all h3 copies to one block */
h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* moved all h2 copies to one block*/
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* -----CLASSES----- */
/* HEADER CLASS */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}


/* FOOTER CLASS */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* BENEFIT-LEAD CLASS */
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


/* BENEFIT-BRAND CLASS */
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


/* SEARCH-ENGINE-OPTIMIZATION CLASS */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img {
    max-height: 200px;
}

/* ONLINE-REPUTATION-MANAGEMENT CLASS */
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management img {
    max-height: 200px;
}


/* SOCIAL-MEDIA-MARKETING CLASS */
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing img {
    max-height: 200px;
}


/* BENEFIT-COST CLASS */
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* MEETING-IMG CLASS */
/* changed the class name from hero to meeting-img to better clarify what it is */
.meeting-img {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}


/* FLOAT CLASSES */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}


/* CONTENT CLASS */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}


/* BENEFITS CLASS */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}